<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.talent.dao.CheckDao">
    <resultMap id="checkMap" type="Check">
        <id property="checkId" column="checkId"></id>
        <result property="userId" column="userId"></result>
        <result property="houseId" column="houseId"></result>
        <result property="buildTime" column="buildTime"></result>
        <result property="checkTime" column="checkTime"></result>
        <result property="status" column="status"></result>


        <association property="user" column="userId" javaType="User"
                     resultMap="com.example.talent.dao.UserDao.userMap"></association>

        <association property="house" column="house" javaType="House"
                     resultMap="com.example.talent.dao.HouseDao.houseMap"></association>
    </resultMap>

    <!-- 添加 -->
    <insert id="add" parameterType="check">
        insert into tb_check
        values (#{checkId}, #{userId}, #{houseId}, #{buildTime},#{checkTime},#{status})
        <selectKey keyProperty="checkId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_check
        where checkId = #{checkId}
    </delete>

    <!-- 修改 -->
    <update id="update" parameterType="Check">
        update tb_check c
        <set>
            <if test="buildTime !=null">
                c.buildTime = #{buildTime},
            </if>
            <if test="checkTime !=null">
                c.checkTime = #{checkTime},
            </if>
            <if test="status !=null">
                c.status = #{status},
            </if>
        </set>
        where c.checkId = #{checkId}
    </update>

    <!-- Id查询 -->
    <select id="queryById" parameterType="int" resultMap="checkMap">
        select *
        from tb_check c
        where c.checkId = #{checkId}
    </select>

    <!-- UserId查询 -->
    <select id="queryByUserId" parameterType="int" resultMap="checkMap">
        select a.*, h.*
        from tb_check c
                 RIGHT JOIN tb_house h ON (h.houseId = c.houseId)
        where c.userId = #{userId}
    </select>

    <!-- HouseId查询 -->
    <select id="queryByHouseId" parameterType="int" resultType="Integer">
        select count(*)
        from tb_check c
                 RIGHT JOIN tb_house h ON (h.houseId = c.houseId)
        where c.houseId = #{houseId}
    </select>

    <!-- 状态查询 -->
    <select id="queryByStatus"  resultMap="checkMap">
        select c.*,u.*,h.*
        from tb_check c
            LEFT JOIN tb_user u ON (u.userId = c.userId)
            RIGHT JOIN tb_house h ON (h.houseId = c.houseId)
        where c.status like concat('%',#{status},'%')
        and u.certified = "是"
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>

    <!-- Time查询 -->
    <select id="queryByTime" resultMap="checkMap">
        select *
        from tb_check c
        where c.startTime between #{startTime} and #{endTime}
          and c.checkTime between #{startTime} and #{endTime}
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>
</mapper>