<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.talent.dao.PolicyDao">
    <resultMap id="policyMap" type="Policy">
        <id property="policyId" column="policyId"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="releaseTime" column="releaseTime"></result>
        <result property="img1" column="img1"></result>
        <result property="img2" column="img2"></result>
        <result property="img3" column="img3"></result>
    </resultMap>

    <!-- 添加 -->
    <insert id="add" parameterType="Policy">
        insert into tb_policy
        values (#{policyId}, #{title}, #{content}, #{releaseTime},#{img1},#{img2},#{img3})
        <selectKey keyProperty="policyId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() AS policyId
        </selectKey>
    </insert>


    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_policy
        where policyId = #{policyId}
    </delete>

    <!-- 动态修改 -->
<!--    <update id="update" parameterType="Vr">-->
<!--        update tb_vr v-->
<!--        <set>-->
<!--            <if test="vrUrl !=null">-->
<!--                v.vrUrl = #{vrUrl},-->
<!--            </if>-->
<!--            <if test="vrContent !=null">-->
<!--                v.vrContent = #{vrContent},-->
<!--            </if>-->
<!--            <if test="img2 !=null">-->
<!--                v.img2 = #{img2},-->
<!--            </if>-->
<!--            <if test="img3 !=null">-->
<!--                v.img3 = #{img3},-->
<!--            </if>-->
<!--            <if test="img4 !=null">-->
<!--                v.img4 = #{img4},-->
<!--            </if>-->
<!--            <if test="img5 !=null">-->
<!--                v.img5 = #{img5},-->
<!--            </if>-->
<!--        </set>-->
<!--        where v.vrId = #{vrId}-->
<!--    </update>-->


    <!-- Id查询 -->
    <select id="queryById" parameterType="int" resultMap="policyMap">
        select *
        from tb_policy p
        where p.policyId = #{policyId}
    </select>



    <!-- 动态模糊查询 -->
    <sql id="selectActive">
        <where>
            <if test="policyId != null">
                p.policyId = #{policyId}
            </if>
            <if test="keywords != null">
                and (p.title like
                concat('%',#{keywords},'%')
                or p.content  like
                concat('%',#{keywords},'%'))
            </if>
            <if test="startTime != null and endTime != null">
                and p.releaseTime between #{startTime} and #{endTime}
            </if>
       </where>
    </sql>

    <!-- Time范围查询 -->
    <select id="queryByTime" parameterType="int" resultMap="policyMap">
        select *
        from tb_policy p
        where p.releaseTime between #{startTime} and #{endTime}
    </select>


    <!-- 分页 -->
    <select id="queryBySelectActive" resultMap="policyMap">
        select * from tb_policy p
        <!-- 查询条件 -->
        <include refid="selectActive"/>
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>


    <select id="countBySelectActive" resultType="int">
        select count(1)
        from tb_policy p
        <include refid="selectActive"></include>
    </select>

</mapper>