<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.talent.dao.SubsidyDao">
    <resultMap id="subsidyMap" type="Subsidy">
        <id property="subsidyId" column="subsidyId"></id>
        <result property="userId" column="userId"></result>
        <result property="buildTime" column="buildTime"></result>
        <result property="status" column="status"></result>
        <result property="remark" column="remark"></result>
        <result property="married" column="married"></result>
        <result property="local" column="local"></result>
        <result property="school" column="school"></result>
        <result property="degree" column="degree"></result>
        <result property="degreeInfo" column="degreeInfo"></result>
        <result property="major" column="major"></result>
        <result property="employed" column="employed"></result>
        <result property="liveArea" column="liveArea"></result>
        <result property="liveAddress" column="liveAddress"></result>
        <result property="liveStart" column="liveStart"></result>
        <result property="liveEnd" column="liveEnd"></result>
        <result property="landlordName" column="landlordName"></result>
        <result property="landlordIDCard" column="landlordIDCard"></result>
        <result property="landlordPhone" column="landlordPhone"></result>
        <result property="companyName" column="companyName"></result>
        <result property="companyAddress" column="companyAddress"></result>
        <result property="companyCode" column="companyCode"></result>
        <result property="companyContact" column="companyContact"></result>
        <result property="companyPhone" column="companyPhone"></result>
        <result property="graduateImg" column="graduateImg"></result>
        <result property="degreeImg" column="degreeImg"></result>
        <result property="employedContract" column="employedContract"></result>
        <result property="houseContract" column="houseContract"></result>
        <result property="otherImg" column="otherImg"></result>

        <association property="user" column="userId" javaType="User"
                     resultMap="com.example.talent.dao.UserDao.userMap"></association>
    </resultMap>

    <!-- 添加 -->
    <insert id="add" parameterType="Subsidy">
        insert into tb_subsidy
        values (#{subsidyId}, #{userId}, #{buildTime}, #{status},#{remark},#{married}
        ,#{local},#{school},#{degree},#{degreeInfo},#{major},#{employed},#{liveArea},#{liveAddress}
        ,#{liveStart},#{liveEnd},#{landlordName},#{landlordIDCard},#{landlordPhone},#{companyName},#{companyAddress},#{companyCode},#{companyContact},#{companyPhone}
        ,#{companyPhone},#{graduateImg},#{degreeImg},#{employedContract},#{houseContract},#{otherImg})
        <selectKey keyProperty="subsidyId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_subsidy
        where subsidyId = #{subsidyId}
    </delete>

    <!-- 动态修改 -->
    <update id="update" parameterType="Subsidy">
        update tb_subsidy s
        <set>
            <if test="status !=null">
                s.status = #{status},
            </if>
            <if test="remark !=null">
                s.remark = #{remark},
            </if>
        </set>
        where s.subsidyId = #{subsidyId}
    </update>


    <!-- Id查询 -->
    <select id="queryById" parameterType="int" resultMap="subsidyMap">
        select *
        from tb_subsidy s
                 LEFT JOIN tb_user u ON (u.userId = s.userId)
        where s.subsidyId = #{subsidyId}
    </select>

    <!-- 用户Id查询 -->
    <select id="querySubsidyBYUserId" parameterType="int" resultMap="subsidyMap">
        select *
        from tb_subsidy s
                 LEFT JOIN tb_user u ON (u.userId = s.userId)
        where s.userId = #{userId}
    </select>


    <!-- 用户信息查询 -->
    <select id="querySubsidyBYUser"  resultMap="subsidyMap">
        select *
        from tb_user u
        <where>
            <if test="userId != null">
                u.userId = #{userId}
            </if>
            <if test="userName != null">
                and u.userName like
                concat('%',#{userName},'%')
            </if>
            <if test="nick != null">
                and u.nick like
                concat('%',#{nick},'%')
            </if>
            <if test="password != null">
                and u.password like
                concat('%',#{password},'%')
            </if>
            <if test="phone != null">
                and u.phone like
                concat('%',#{phone},'%')
            </if>
            <if test="gender != null">
                and u.gender = #{gender}
            </if>
            <if test="IDCard != null">
                and u.IDCard = #{IDCard}
            </if>
            <if test="birthday != null">
                and u.birthday like
                concat('%',#{birthday},'%')
            </if>
            <if test="realName != null">
                and u.realName like
                concat('%',#{realName},'%')
            </if>
        </where>
        LEFT JOIN tb_subsidy s ON (u.userId = s.userId)
    </select>

    <!-- 分页 -->
    <select id="queryBySelectActive" resultMap="subsidyMap">
        select s.*,u.* from tb_subsidy s
        LEFT JOIN tb_user u ON (s.userId = u.userId)
        <include refid="selectActive"></include>
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="countBySelectActive" resultType="int">
        select count(1) from tb_subsidy s
        LEFT JOIN tb_user u ON (s.userId = u.userId)
        <include refid="selectActive"></include>
    </select>

    <sql id="selectActive">
        <where>
            <if test="subsidyId != null">
                s.subsidyId  like
                concat('%',#{subsidyId},'%')
            </if>
            <if test="userId != null">
                and  s.userId like
                concat('%',#{userId},'%')
            </if>
            <if test="buildTime != null">
                and s.buildTime like
                concat('%',#{buildTime},'%')
            </if>
            <if test="status != null">
                and s.status like
                concat('%',#{status},'%')
            </if>
            <if test="remark != null">
                and s.remark like
                concat('%',#{remark},'%')
            </if>
            <if test="local != null">
                and s.local = #{local}
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="major != null">
                and s.major like
                concat('%',#{major},'%')
            </if>
            <if test="companyName != null">
                and s.companyName like
                concat('%',#{companyName},'%')
            </if>
            <if test="liveAddress != null">
                and s.liveAddress like
                concat('%',#{liveAddress},'%')
            </if>
            <if test="liveArea != null">
                and s.liveArea like
                concat('%',#{liveArea},'%')
            </if>
        </where>
    </sql>
</mapper>